{% extends "scratchers/base.html" %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Size</th>
            <th>Cost</th>
        </tr>
    </thead>
    <tbody>
        {% for s in scratchers %}
        <tr>
            <td>{{ s.item_name }}</td>
            <td>{{ s.item_description }}</td>
            <td>{{ s.size }}</td>
            <td>$ {{ s.item_cost }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}